<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CDN via jsDelivr -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <!-- for icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        
        <title>{{ page_title }}</title>
        <style>
            .profile-link {
                display: inline-block; 
                text-align: center;
                margin: 10px;
                text-decoration: none;
                color: #212529;
            }
            .profile-link:hover {
                color: #0d6efd;
                text-decoration: underline;
            }
            .profile-img {
                max-width: 80px;
                height: auto;
                border-radius: 50%;
                display: block; 
                margin: 0 auto;
            }
            body {
                background-image: url("../static/images/mentors.jpg");
                background-size: cover;
                background-position: center center;
                background-attachment: fixed;
                margin: 0;
                min-height: 100vh;
            }
            .card-header{
                padding-left: 20px;
            }
            .form-style{
                padding-left: 20px;
            }
            th, td {
                word-wrap: break-word; /* Перенос длинных слов */
                    }
        </style>
    </head>
    <body>
        <!-- модальное окно ModalConfirmation-->
        <div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- содержимое -->
                    <div class="modal-body">
                        <p> 
                            <span id="type-modal-text"></span>  <span id="date-event-modal"></span>?
                        </p>
                    </div>
                    <!-- подвал -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <form action="/my_calendar" method="GET">
                            <input type="hidden" id="event-id-input" name="event_id">
                            <input type="hidden" id="slot-id-input" name="timeslot_id">
                            <input type="hidden" id="type-modal" name="type_modal">
                            <input type="hidden" name="telegram_id" value="{{ telegram_id }}">
                            <input type="hidden" name="telegram" value="{{ telegram }}">
                            <button type="submit" class="btn btn-danger">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="liveToast" class="toast position-fixed top-50 start-50 translate-middle" role="alert" 
        aria-atomic="true" data-action="{{ action_event }}">
            <div class="toast-header">
                <strong class="me-auto">{{ action_event }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            {% if action_event and action_event=='success' %}
                <div class="toast-body text-white bg-success">
                    {% if successful_approve %}
                        Your event was successfully approved.
                    {% elif  successful_cancel %}
                        Your event was successfully canceled.
                    {% elif successful_create %}
                        Your event was successfully created.
                    {% elif successful_delete %}
                        Your time slot was successfully deleted.
                    {% endif %}
                </div>
            {% elif action_event and action_event=='error' %}
                <div class="toast-body text-white bg-danger">
                    {% if error_approve %}
                        We can't accept your event.<br>Try again or write to admin.
                    {% elif error_cancel %}
                        We can't cancel your event.<br>Try again or write to admin.
                    {% elif mistake_create %}
                        We can't create your event.<br>Try again or write to admin.
                    {% elif error_delete %}
                        We can't delete your time slot.<br>Try again or write to admin.
                    {% endif %}
                </div>
            {% endif %}
        </div>        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="nav nav-pills nav-fill ps-3">
                <a href="{{ url_for('homepage', telegram=telegram, telegram_id=telegram_id) }}" class="navbar-brand">{{ homepage }}</a>
            </ul>
            {% if mentor_role_id in role_id %}
                <h3 class="text-end ms-auto m-2">Hi, {{ name }}</h3>
            {% endif %}
        </nav>
        <div class="card-header">
            <u><h3>{{ page_title }}</h3></u>
        </div>
        <form action="/my_calendar" method="GET" class="form-group form-style">
            <label class="form-label">
                {% if mentor_role_id in role_id %}
                    You see time in your gmt - "{{ gmt_sign }}{{ gmt }}", <br>you can chage gmt on your profile.
                {% else %}
                    You see time in {% if gmt %} gmt - "{{ gmt_sign }}{{ gmt }}" {% else %} UTC {% endif %}, 
                    <br>you can choose gmt and I will update time.
                {% endif %}
            </label>
            {% if mentor_role_id not in role_id %}
                <div class="d-flex align-items-center w-auto ms-2">
                    <input type="hidden" name="telegram_id" value="{{ telegram_id }}">
                    <input type="hidden" name="telegram" value="{{ telegram }}">
                    <select name="gmt_sign" class="form-select w-auto">
                        <option value="{{ gmt_sign }}" {% if not gmt_sign %} disabled {% endif %} selected>
                            {% if gmt_sign %} {{ gmt_sign }} {% else %} sign: +/- {% endif %} 
                        </option>
                        <option value="{% if gmt_sign == '+' %} - {% else %} + {% endif %}">
                                {% if gmt_sign == '+' %} - {% else %} + {% endif %}
                        </option>
                    </select>
                    <input type="time" id="gmt" name="gmt" class="form-control m-2 w-auto" value="{{ gmt }}">
                    <button class="btn btn-success" type="submit" style="white-space: nowrap;">Choose gmt</button>
                </div> 
            {% endif %}
            <div class="d-flex align-items-center w-auto">
                <label for="filter_date" class="form-label">Choose a date:</label>
            </div>
            <div class="d-flex mb-2 ms-2 w-auto" style="white-space: nowrap;">
                <input type="hidden" name="telegram_id" value="{{ telegram_id }}">
                <input type="hidden" name="telegram" value="{{ telegram }}">
                <input type="date" class="form-control w-auto" id="filter_date" name="filter_date" 
                        value="{% if filter_date %}{{ filter_date.strftime('%Y-%m-%d') }}{% endif %}">
                <button id="filter_button" type="submit" class="btn btn-info ms-2" name="action" value="filter">the date</button>
                <button id="filter_later_button" type="submit" class="btn btn-info ms-2" name="action" value="filter_later">after the date</button>
                <button id="reset_button" type="submit" class="btn btn-secondary ms-2" 
                        name="action" value="reset" {% if not filter_date %} hidden {% endif %}>reset filter</button>
            </div>
            <div class="table table-bordered table-striped table-hover w-auto">
                <table class="table w-70">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Start date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Client</th>
                            <th scope="col">Mentor</th>
                            <th scope="col">Request</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in events_gmt %}
                        <tr {% if today > el.get('start_date') %} class="table-secondary" {% endif %}>
                            <th scope="row"></th>
                            <td>{{ el.get('start_date') }}</td>
                            <td>{{ el.get('end_date') }}</td>
                            <td>{% if el.get('client_telegram') %} {{ el.get('client_telegram') }} {% endif %}</td>
                            <td>{{ el.get('mentor_telegram') }}</td>
                            <td>{% if el.get('request') %} {{ el.get('request') }} {% endif %}</td>
                            <td class="fw-normal 
                                    {% if el.get('status_name') == 'booked'%}
                                        text-success
                                    {% elif el.get('status_name')  and 'canceled' in el.get('status_name') %}
                                        text-danger
                                    {% elif el.get('status_name') == 'request to mentor' %}
                                        text-warning
                                    {% elif not el.get('event_id') %}
                                        text-primary
                                    {% endif %}">
                                {% if el.get('event_id') %} {{ el.get('status_name') }} {% else %} available {% endif %}
                            </td>
                            <td>
                                {% if today < el.get('start_date') %}
                                <button class="btn btn-success {% if el.get('status_name') != 'request to mentor' or mentor_role_id not in role_id or user_id != el.get('mentor_id') %} d-none {% endif %}" 
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#ModalConfirmation"
                                data-event-id="{{ el.get('event_id') }}"
                                date-event="{{ el.get('start_date') }}"
                                type-modal="approve_event">
                                    Approve 
                                </button>
                                <button class="btn btn-danger {% if el.get('status_name') != 'booked' and el.get('status_name') != 'request to mentor' %} d-none {% endif %}" 
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#ModalConfirmation"
                                data-event-id="{{ el.get('event_id') }}"
                                date-event="{{ el.get('start_date') }}"
                                type-modal="cancel_event">
                                    Cancel
                                </button>
                                <button class="btn btn-warning {% if el.get('status_name') != 'request cancel' or mentor_role_id not in role_id or user_id != el.get('mentor_id') %} d-none {% endif %}" 
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#ModalConfirmation"
                                data-event-id="{{ el.get('event_id') }}"
                                date-event="{{ el.get('start_date') }}"
                                type-modal="approve_cancel_event">
                                    Approve cancel
                                </button>
                                {% endif %}     
                            </td>
                            <td>
                                {% if today < el.get('start_date') %}
                                    <div {% if el.get('event_id') %} 
                                                class="d-inline-block"
                                                data-bs-placement="left"
                                                data-bs-toggle="tooltip" 
                                                title="You can't delete a time slot with an active event. You have to cancel it first."
                                         {% endif %}>
                                        <button type="button" 
                                        class="btn btn-secondary {% if user_id != el.get('mentor_id') or el.get('status_name') == 'cancel' %}
                                                            d-none {% endif %} {% if el.get('event_id') %} disabled {% endif %}"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#ModalConfirmation" 
                                        data-slot-id="{{ el.get('timeslot_id') }}"
                                        date-event="{{ el.get('start_date') }}"
                                        type-modal="delete_time_slot">
                                            Delete time slot
                                        </button>
                                    </div>
                                {% endif %}
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        <script>

            document.addEventListener("DOMContentLoaded", function() {
                const toastEl = document.getElementById("liveToast");
                const actionEvent = toastEl ? toastEl.getAttribute("data-action") : null;
                if (actionEvent && actionEvent.trim() !== "") {
                    var toast = new bootstrap.Toast(toastEl);
                    toast.show();
                }

                var modalConfirmation = document.getElementById("ModalConfirmation");
                modalConfirmation.addEventListener("show.bs.modal", function(event) {
                    var button = event.relatedTarget; // Кнопка, вызвавшая модалку
                    var eventId = button.getAttribute("data-event-id"); // Получаем event_id
                    var slotId = button.getAttribute("data-slot-id");
                    var typeModal = button.getAttribute("type-modal"); // Получаем type-modal
                    const dateEvent = button.getAttribute("date-event");
                
                    // Устанавливаем значения в форму модалки
                    document.getElementById("date-event-modal").textContent = dateEvent;
                    document.getElementById("type-modal").value = typeModal;
                    if (typeModal == "cancel_event"){
                        document.getElementById("event-id-input").value = eventId;
                        document.getElementById("type-modal-text").textContent = "Are you sure that you would like to cancel an event";
                    } else if (typeModal == "approve_event"){
                        document.getElementById("event-id-input").value = eventId;
                        document.getElementById("type-modal-text").textContent = "Are you sure that you would like to approve an event"; 
                    } else if (typeModal == "approve_cancel_event"){
                        document.getElementById("event-id-input").value = eventId;
                        document.getElementById("type-modal-text").textContent = "Are you sure that you would like to approve an event"; 
                    } else if (typeModal == "delete_time_slot"){
                        document.getElementById("slot-id-input").value = slotId;
                        document.getElementById("type-modal-text").textContent = "Are you sure that you would like to delete a time slot";
                    }
                    
                });
            });

            document.getElementById("liveToastBtn").addEventListener("click", function () {
                var toastEl = document.getElementById("liveToast");
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });

        </script>
    </body>
</html>
